<br/>
<div class="container" *ngIf="invoice">
  <div id="top" class="row">
    <div class="col-md-6">
      <table width="100%">
        <h1>Factuur</h1>
        <tr><td>Datum</td><td>{{invoice.date | date:"longDate"}}</td></tr>
        <tr><td>Prijs</td><td>&euro; {{invoice.totalPrice | number : '1.2-2' }}</td></tr>
        <tr><td>Afstand</td><td>{{invoice.totalPrice | number }} km</td></tr>
        <tr><td></td></tr>
      </table>
      <button type="button" class="btn btn-primary" (click)="pay()" *ngIf="!invoice.isPaid">Pay</button>
      <b *ngIf="invoice.isPaid">Factuur is voldaan</b>
    </div>
    <div class="col-md-6">
      <agm-map *ngIf="paths" [latitude]="lat" [longitude]="long" [zoom]="zoom" [streetViewControl]="false" [zoomControl]="false">
        <agm-polyline [strokeColor]="'red'">
          <agm-polyline-point *ngFor="let point of paths" [latitude]="point.longitude" [longitude]="point.latitude">
          </agm-polyline-point>
        </agm-polyline>
      </agm-map>

    </div>
  </div>


  <br />
  <table class="table" style="width: 100%" *ngIf="invoice && invoice.priceRowList">
    <thead>
    <tr>
      <th scope="col">Regio</th>
      <th scope="col">Prijs</th>
      <th scope="col">Afstand</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of invoice.priceRowList">
      <td>{{row.regionId}}</td>
      <td>&euro; {{row.price| number : '1.2-2'}}</td>
      <td>{{row.distance | number}} km</td>
    </tr>
    </tbody>
  </table>
</div>
