<br/>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="invoice-title">
        <h2>Factuur</h2><h3 class="pull-right">{{invoice.id}}</h3>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <address>
            <strong>Geaddresseerd aan:</strong><br>
            {{user.name}}<br>
            {{user.address}}<br>
            {{user.residence}}
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 text-right">
          <address>
            <strong>Factuur datum</strong><br>
            {{invoice.date}}<br><br>
          </address>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Factuur gegevens</strong></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
              <tr>
                <td><strong>Item</strong></td>
                <td class="text-center"><strong>Totaal prijs</strong></td>
                <td class="text-center"><strong>Totale afstand</strong></td>
              </tr>
              </thead>
              <tbody>
              <!-- foreach ($order->lineItems as $line) or some such thing here -->
              <tr>
                <td>{{invoice.id}}</td>
                <td class="text-center">{{invoice.totalPrice}}</td>
                <td class="text-center">{{invoice.totalDistance}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <p *ngIf="invoice.isPaid">Factuur is betaald</p>
      <input type="submit" *ngIf="!invoice.isPaid" value="Betaal" (click)="payInvoice(invoice.id)">
    </div>
  </div>

</div>
